<p>
  slide-show works!
</p>

    <!-- HEADER SLIDE SHOW -->
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div style="width: 100%; height: 150px; background-color:red;">Slide 1</div>
      </ion-slide>
      <ion-slide>
        <div style="width: 100%; height: 150px; background-color:yellow;">Slide 2</div>
      </ion-slide>
      <ion-slide>
        <div style="width: 100%; height: 150px; background-color:blue;">Slide 3</div>
      </ion-slide>
    </ion-slides>
    