    <!-- HEADER SLIDE SHOW -->
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="slide-show" style="background-color:red;">Slide 1</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-show" style="background-color:yellow;">Slide 2</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-show" style="background-color:blue;">Slide 3</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-show" style="background-color:green;">Slide 4</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-show" style="background-color:brown;">Slide 5</div>
      </ion-slide>
    </ion-slides>
