    <!-- HEADER SLIDE SHOW -->
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="slide-show">
          <img src="/assets/slider/Slider_Startseite_1.jpg"/></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-show">
          <img src="/assets/slider/Slider_Startseite_2.jpg"/></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-show">
          <img src="/assets/slider/Slider_Startseite_3.jpg"/></div>
      </ion-slide><ion-slide>
        <div class="slide-show">
          <img src="/assets/slider/Slider_Startseite_4.jpg"/></div>
      </ion-slide><ion-slide>
        <div class="slide-show">
          <img src="/assets/slider/Slider_Startseite_5.jpg"/></div>
      </ion-slide><ion-slide>
        <div class="slide-show">
          <img src="/assets/slider/Slider_Startseite_6.jpg"/></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-show">
          <img src="/assets/slider/Slider_Startseite_7.jpg"/></div>
      </ion-slide>
    </ion-slides>

      <ion-row>
    <ion-col size="1">
    
    </ion-col>
    <ion-col size="10">
      
    </ion-col>
    <ion-col size="1">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>