
ion-tab-bar > {

top: 608px;
left: 0px;
width: 375px;
height: 55px;

ion-tab-button > ion-icon{

top: 622px;
left: 31px;

}

ion-tab-button > ion-label {
top: 633px;
left: 27px;
margin-top: -10px;
font-weight: bold;
//height: 13px;
}

ion-tab-button.tab-selected {
    border-top: 3px solid var(--color-selected);;
}

}