
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <h1>Anfahrt</h1>
  <h2>Hier findest du uns</h2>
  <div class="headerimages"> <img src="../assets/headerimages/Header_Unterseiten_TAGUNDNACHT.jpg"  > </div>
  <div class="punkte"> <img src="../assets/svg/punkte_yellow.svg" id="kreuze" > </div>
  
   <div class="pfeil"> <img src="../assets/svg/pfeil_blue_1.svg" id="pfeile" > </div>
<br>
Gebetsraum 24/7, jedem Tag im Jahr. 
<br><br>
AKTUELLE GOTTESDIENSTTERMINE FINDEST DU HIER<br>
https://diekreative.org/termine/<br>
GOTTESDIENSTE
<br>
<br>
<a class="kacheln" href="https://www.google.com/maps/place/Motorwerk/@52.5633559,13.4592242,17z/data=!4m5!3m4!1s0x47a84dbe7226dc47:0x376e04be31aef322!8m2!3d52.5633559!4d13.4614129"> <img src="../assets/kacheln/MOTORWERK.png" id="MOTORWERK"></a>
<br>
<ion-icon name="location-sharp"></ion-icon> MOTORWERK
An der Industriebahn 12, 13088 Berlin
<br>
<br>      
TAG & NACHT<br>
Wir beten 24 Stunden - 7 Tage - 52 Wochen<br>
<a class="kacheln" href="https://www.google.com/maps/place/Schivelbeiner+Str.+7,+10439+Berlin/@52.5512437,13.4095687,17z/data=!3m1!4b1!4m5!3m4!1s0x47a85205b82cf0d1:0x516f8cd22df7eede!8m2!3d52.5512405!4d13.4117574"> <img src="../assets/kacheln/TAGUNDNACHT.png" id="TAGUNDNACHT"></a>
<ion-icon name="location-sharp"></ion-icon> Tag&Nacht (klingeln bei tagundnacht)<br>
Schivelbeiner Str. 7, 10439 Berlin
 <br>
 <br>



  <!--<app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
