
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <h1>Anfahrt</h1>
  <div class="headerimages"> <img src="../assets/headerimages/Header_Unterseiten_TAGUNDNACHT.jpg" > </div>
  <div class="punkte"> <img src="../assets/svg/punkte_yellow.svg" id="kreuze" > </div>
  
   <div class="pfeil"> <img src="../assets/svg/pfeil_blue_1.svg" id="pfeile" > </div>


   Wo ihr uns in Berlin findet.<br>
   Gottesdienst am Sonntag.<br>
   Gebetsraum 24/7, jeden Tag im Jahr. Gebetsraum 24/7, jeden Tag im Jahr. <br>
   Kommt uns gerne besuchen.<br>
   Wir freuen uns auf euch.<br>
<br>
GOTTESDIENSTE
Jeden Sonntag 10:30 Uhr*
<br>
<br>
<ion-icon name="location-sharp"></ion-icon> MOTORWERK
An der Industriebahn 12, 13088 Berlin
<br>
<br>      
TAG & NACHT<br>
Wir beten 24 Stunden - 7 Tage - 52 Wochen<br>
<ion-icon name="location-sharp"></ion-icon> Tag&Nacht (klingeln bei tagundnacht)<br>
Schivelbeiner Str. 7, 10439 Berlin
 <br>
 <br>
*derzeit aufgrund von COVID-19 derzeit eingeschränkt, evtl. Änderungen beachten



  <!--<app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
