
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <h1>Anfahrt</h1>
  <div class="headerimages"> <img src="../assets/headerimages/Header_Unterseiten_TAGUNDNACHT.jpg" > </div>
  <div class="punkte"> <img src="../assets/svg/punkte_yellow.svg" id="kreuze" > </div>
  
   <div class="pfeil"> <img src="../assets/svg/pfeil_blue_1.svg" id="pfeile" > </div>

   GOTTESDIENSTE
Jeden Sonntag 10:30 Uhr*
(Icon Verlinkung zu Google) MOTORWERK
			An der Industriebahn 12, 13088 Berlin
TAG & NACHT
Wir beten 24 Stunden - 7 Tage - 52 Wochen
(Icon Verlinkung zu Google) Tag&Nacht (klingeln bei tagundnacht)
			Schivelbeiner Str. 7, 10439 Berlin
*derzeit aufgrund von COVID-19 derzeit eingeschränkt, evtl. Änderungen beachten



  <!--<app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
