@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: 200;
    font-style: normal;}

    @font-face {
        font-family: 'Lato bold';
        src: url('../fonts/Lato-Bold.ttf');
        font-weight: 400;
        font-style: bold;
    
      }

      @font-face {
        font-family: 'Lato bold italic';
        src: url('../fonts/Lato-BoldItalic.ttf');
        font-weight: 400;
        font-style: bold italic;


    
      }

      @font-face {
        font-family: 'Lato italic';
        src: url('../fonts/Lato-Italic.ttf');
        font-weight: 200;
        font-style: italic;}



