<ion-header>
  <ion-toolbar>
    <ion-title>ueber-uns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <!-- <div class="diekreativeappmain" style="background-color: #fff;">   -->
  <div class="headerimages">
    <h1 class="ueberuns-title">ÜBER UNS</h1> 
  </div>

  <h1 class="ueberuns-text">diekreative</h1> 
  <h2 class="ueberuns-text">Unser Herzschlag</h2> 

    <p></p>


 <div class="kreuze"> <img src="../assets/svg/kreuze_blue.svg" id="kreuze" > </div>


 <div class="pfeil"> <img src="../assets/svg/pfeil_yellow_2.svg" id="pfeile" > </div>

</ion-content>

<!-- </div> -->


