

    
.headerimages{
    top: 95px;
    left: -5px;
    width: 380px;
    height: 209px; 

    position: absolute;
    /* position: absolute; */
    /* background: var(--unnamed-color-003d58) 0% 0% no-repeat padding-box; 
    /*  background: #003D5815 0% 0% no-repeat padding-box; */
    background: #003D5815  
    /*border: 1px solid #707070;
    opacity: 0.15;*/
    }

    h1 {
        font-family:Lato, sans-serif;
        position: absolute;
        top: 183px;
        left: 116px;
        width: 144px;
        height: 33px;
        font-size: 27px;
        font-weight:550;   
    }

   /* .headercaption */

.kreuze {
    top: 344px;
    left: 291px;
    width: 54px;
    height: 54px;
    opacity: 1; 
position: fixed;}

.pfeil
{position: fixed;
    top: 451px;
    left: -14.814453125px;
    width: 79px;
    height: 50px;
    /* border: 1.5px solid var(--unnamed-color-e1a730); 
    border: 1.5px;  
    border: 2px solid #E1A730; */
}

