
<ion-app>
  <ion-buttons end>
    <ion-menu-button end></ion-menu-button>
  </ion-buttons>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-button size="large" (click)="presentModal()">  <ion-icon name="person-circle-outline"></ion-icon>  <ion-title> Login</ion-title></ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><ion-icon name="notifications-outline"></ion-icon>&nbsp;&nbsp;Nachrichten</ion-item>
        <ion-item><ion-icon name="settings-outline"></ion-icon>&nbsp;&nbsp;Einstellungen</ion-item>
        <ion-item><ion-icon name="airplane-outline"></ion-icon>&nbsp;&nbsp;Predigten</ion-item>
        <ion-item><ion-icon name="heart-outline"></ion-icon>&nbsp;&nbsp;Über uns</ion-item>
        <ion-item><ion-icon name="moon-outline"></ion-icon>&nbsp;&nbsp;Tag & Nacht</ion-item>
        <ion-item><ion-icon name="star-outline"></ion-icon>&nbsp;&nbsp;ERlebt</ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  <!--ion-router-outlet id="main"></ion-router-outlet-->
</ion-app>
