.my-custom-menu {
    --width: 500px;
  }

  ion-menu-button {
    position: absolute; top: 10px; right: 20px;
  }

.menuheader_gast {
  position: absolute; top: 16px; right: 16px;
}

  .diekreativemenu {
    top: 55px;
    left: 0px;
    width: 400px;
    height: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  
ion-menu > ion-content > ion-list > ion-item > ion-label {
  //border-bottom: 1px solid grey !important;
  font: LatoBold var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-source-sans-pro);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-777777);
text-align: left;
font: LatoBold 16px/22px Lato;
letter-spacing: 0px;
color: #777777;
text-transform: uppercase;
opacity: 1;
}

ion-menu > ion-content > ion-list {
    margin-left:50px;
}


.shadow {
    -moz-box-shadow:    0px 3px 6px #00000029;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
  }



 #logoimage{
     height: 50px;
     width: 132.54px;
     padding: 0px 0px 0px 22px;
 } 

 .socialmediabar{
    //position: absolute;
    bottom: 0;
     margin-left:50px;
     height: 90px;
     border-top: 1px var(--ion-color-secondary);
 }

 .menuicon{
     margin:16px;
 }
