
 <ion-grid>
  <ion-row>
    <ion-col size="1">
    
    </ion-col>
    <ion-col size="10">
      
    </ion-col>
    <ion-col size="1">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5">
      <ion-card id="predigten">  <div class="card-subtitle">PREDIGTEN</div> </ion-card>
      
    </ion-col>
    <ion-col size="1">
    </ion-col>
    <ion-col size="5" size-lg>
      <ion-card id="überuns" [routerLink]="['../../ueber-uns']">  <div class="card-subtitle">ÜBER UNS</div> </ion-card>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" size-lg>
      <ion-card id="Tag">  <div class="card-subtitle">TAG UND NACHT</div> </ion-card>
      
    </ion-col>
    <ion-col size="6">
      <ion-card id="erlebt">  <div class="card-subtitle">ERLEBT</div> </ion-card>
    </ion-col>
  </ion-row>
</ion-grid> 

