#erlebt{
    background-image: url("/assets/ducks.png") no-repeat fixed center;
    background-size: scale-down;
    object-fit: cover;
    height:142px;
    width: 142px
}

ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute; 
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    font: Bold 27px/27px var(--unnamed-font-family-lato);
    text-align: left;
    font: Bold 27px/27px Lato;
letter-spacing: 2.02px;
text-transform: uppercase;

    
  }

  #predigten{
    background-image: url("/assets/ducks.png") no-repeat fixed center;
    background-size: scale-down;
    object-fit: cover;
    height:142px;
    width: 142px
}

ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    font-size: 2.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: white;
    font-weight: bold;
    font: Bold 27px/27px Lato;
    letter-spacing: 2.02px;
    font: var(--unnamed-font-family-lato);
    text-align: left;
    font-family: var(--unnamed-font-family-lato);
    text-align: initial;
    
  ;
    
  
  }

  #überuns{
    background-image: url("/assets/ducks.png") no-repeat fixed center;
    background-size: scale-down;
    object-fit: cover;
    height:142px;
    width: 142px
}

ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    
  }

  .card-subtitle {
    font-size: 2.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: white;
    font-weight: bold;
    font: Bold 27px/27px Lato;
    letter-spacing: 2.02px;
    font: Bold 27px/27px var(--unnamed-font-family-lato);
    text-align: left;
    font-family: var(--unnamed-font-family-lato);
  }
  #Tag{
    background-image: url("/assets/ducks.png") no-repeat fixed center;
    background-size: scale-down;
    object-fit: cover;
    height:142px;
    width: 142px
}

ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 2.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: white;
    font-weight: bold;
  }