
ion-card {
  --background: #d7d8da;
  position: relative;
    text-align: center;
}


#erlebt{
    background-size: scale-down;
    object-fit: cover;
    height:162px;
    width: 162px
}


  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  #predigten{
       background-size: scale-down;
    object-fit: cover;
    height:162px;
    width: 162px
}

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  #überuns{
        background-size: scale-down;
    object-fit: cover;
    height:162px;
    width: 162px
}

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 2.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: white;
    font-weight: bold;
  }
  #Tag{
      background-size: scale-down;
    object-fit: cover;
    height:162px;
    width: 162px
}


  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 2.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: white;
    font-weight: bold;
  }