<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="diekreativeappmain" style="background-color: #fff;">
    <br>
  
    <div class="headerimages"> <img src="../assets/headerimages/Header_Unterseiten_GOTTESDIENST.jpg" > </div>
  
    <h1 class="headercaption">GOTTESDIENSTE</h1> 
  
   <div class="kreuze"> <img src="../assets/svg/kreuze_yellow.svg" id="kreuze" > </div>
  
   <div class="pfeil"> <img src="../assets/svg/pfeil_yellow_1.svg" id="pfeile" > </div>
  
  
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
  
  
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
  
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
  
  
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>

</div>


</ion-content>
