<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="width:100%; height:25%; background-color: cornflowerblue;"></div>
  <div style="padding:10px;">
    <h1>lifeGroups</h1>
    <p style="text-align: justify;">Unsere lifeGroups sind vollwertige Gruppen mit tollen Leitern und eigenen Visionen. Sie sind alle unterschiedlich in ihrer Ausgestaltung. Schau doch gerne bei einer vorbei!</p>
    <!--<p style="text-align: justify;">Unsere lifeGroups findest du an ganz unterschiedlichen Standorten in ganz Berlin.</p>-->
    <p style="text-align: justify;">Sie sind kleinere Gruppen, die sich wöchentlich treffen. Hier kann man sich einfach wohlfühlen, aber hier reibt man sich auch mal aneinander und bekommt neue Perspektiven. DU bist genauso entscheidend, DEINEN Teil zu einer dieser Gruppen beizutragen.</p> 
  </div>

  <!-- Show Map -->
  <!--<app-lg-map></app-lg-map> 
  
  <!-- List of Sliding Items -->
  <!--<app-lg-list></app-lg-list>-->
  
  <iframe width="100%" style="border-width:0px" height="900px" src="https://diekreative.org/churchtools/grouphomepage/t0C8YfViN2HpLvDQDhafN8gYogHeVsLi?embedded=true"></iframe>

</ion-content>
