<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="width:100%; height:25%; background-color: cornflowerblue;"></div>
  <div style="padding:10px;">
    <h1>Life Groups</h1>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p> 
  </div>

  <!-- Show Map -->
  <!--<app-lg-map></app-lg-map> 
  
  <!-- List of Sliding Items -->
  <!--<app-lg-list></app-lg-list>-->
  
  <iframe width="100%" style="border-width:0px" height="900px" src="https://diekreative.org/churchtools/grouphomepage/t0C8YfViN2HpLvDQDhafN8gYogHeVsLi?embedded=true"></iframe>

</ion-content>
